body {
	background-size: cover;
}


@media (min-width: 200px) {
    #splash a { font-size: 200%; }
}

@media (min-width: 400px) {
    #splash a { font-size: 250%; }
}

@media (min-width: 500px) {
    #splash a { font-size: 325%; }
}

@media (min-width: 600px) {
    #splash a { font-size: 450%; }
}

@media (min-width: 800px) {
    #splash a { font-size: 550%; }
}

@media (min-width: 1000px) {
    #splash a { font-size: 700%; }
}

@media (min-width: 1200px) {
    #splash a { font-size: 800%; }
}

@media (min-width: 1400px) {
    #splash a { font-size: 900%; }
}

@media (min-width: 200px) {
    #airkami-title, #airkami-menu a { font-size: 100%; line-height: 170%; }
}

@media (min-width: 400px) {
    #airkami-title, #airkami-menu a { font-size: 125%; line-height: 170%; }
}

@media (min-width: 500px) {
    #airkami-title, #airkami-menu a { font-size: 150%; line-height: 175%; }
}

@media (min-width: 600px) {
    #airkami-title, #airkami-menu a { font-size: 200%; line-height: 175%; }
}

@media (min-width: 800px) {
    #airkami-title, #airkami-menu a { font-size: 250%; line-height: 180%; }
}

@media (min-width: 1000px) {
    #airkami-title, #airkami-menu a { font-size: 300%; line-height: 180%; }
}

@media (min-width: 1200px) {
    #airkami-title, #airkami-menu a { font-size: 360%; line-height: 175%; }
}

@media (min-width: 1400px) {
    #airkami-title, #airkami-menu a { font-size: 430%; line-height: 170%; }
}


a:link {
	color: #f56a30;
	font-family: Arial, Helvetica, sans-serif;
 	text-align: center;
 	text-decoration: none;
    	text-shadow:5px 5px 15px #000000;
}
a:visited {
	color: #f56a30;
	font-family: Arial, Helvetica, sans-serif;
 	text-align: center;
 	text-decoration: none;
    	text-shadow:5px 5px 15px #000000;
}
a:hover{
	text-decoration: underline;
    	text-shadow:5px 5px 15px #000000;
}

#splash {
	text-align: center;
}
#airkami-sp {
    height: 80%;
}
#airkami-list {
    	margin: 14% 0 0 46%;
    	list-style: none;
    
}
#airkami-title {
	color: #f56a30;
	font-family: Arial, Helvetica, sans-serif;
 	text-align: left;
 	text-decoration: none;
    	text-shadow:5px 5px 15px #000000;
    	margin: 10% 10% 0 5%;
}
#airkami-intro {
	color: #66FF33;
	font-family: Arial, Helvetica, sans-serif;
 	text-align: center;
   	margin: 0% 20% 0 20%;
	position:fixed;
	top: 45%;
	left: 0%;
}
